body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #dd2323;;
    margin-bottom: 4px;
}

button {
    background: #dd2323;;
    color: white;
    padding: 10px 20px;
    border: 1px solid #dd2323;;
    font-weight: bold;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}
.header-text {
    display: block;
    font: inherit italic;
    color: #dd2323;
    margin-bottom: 0;
    text-align: center;
}
.sub-header {
    margin-top: 2px;
    font: inherit;
    color: #dd2323;
    text-align: center;
}

.copyright {
    display: block;
    font-size: xx-small;
    color: #dd2323;
    text-align: center;
}
